<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/settings.css">
    <link rel="stylesheet" href="/css/game-page.css">
</head>
<body>
    <div class="page-wrapper">
        <div class="table">
            <div class="table-cells">

            </div>
            <div class="table-players">

            </div>
        </div>
        <div class="wrapper">
            <div class="field">
                <div class="field__cells">

                </div>
            </div>
        </div>
        <div class="wrapper-count">
            <div class="step-counter">0</div>
            <button class="drop-btn">Drop</button>
        </div>
    </div>

</body>
<script>
    function createNewElements(fieldCreate, counter, idElem, newClass, cc ){
        for (let i = cc; i <= counter; i++) {
            const newEl = document.createElement('div');
            newEl.setAttribute("id", String(i)+idElem);
            newEl.setAttribute("class", newClass);
            newEl.innerText = newEl.id;
            fieldCreate.appendChild(newEl);
            // console.log(newEl);
        }
    }

    console.log("2121212")

    const tableCells = document.querySelector('.table-cells');
    const field = document.querySelector('.field__cells');

    createNewElements(tableCells, 4, "playerCell", "player-elem", 1);
    createNewElements(field, 36, "", "elem-droppableArea", 1);

    const playerCells = document.querySelectorAll('.player-elem');

    playerCells.forEach((cell, ind) => {
        createNewElements(cell, ind+1, "pl", "player-draggableElement", ind+1);
    });

    function makeNewStep() {
        const step = Math.floor(Math.random()*6 + 1);
        return step;
    }

    const dropBtn = document.querySelector('.drop-btn');
    const stepCounter = document.querySelector('.step-counter');
    const draggablePlayers = document.querySelectorAll('.player-draggableElement');
    const droppableArea = document.querySelectorAll('.elem-droppableArea');

    draggablePlayers.forEach((player) => {
        player.setAttribute("draggable", false)
    });

    let activePlayer = 4;

    const playersData = [{
        currentCoord: 0
    }, {
        currentCoord: 0
    }, {
        currentCoord: 0
    }, {
        currentCoord: 0
    }];
    const gameData = {
        nextCell: 0,
        activePlayerInd: 0
    }


    dropBtn.addEventListener("click", function (){

        dropBtn.disabled = true;
        const stepCount = makeNewStep();
        stepCounter.innerText = stepCount + '';
        activePlayer = activePlayer%4 == 0 ? 1 : activePlayer+1;

        gameData.activePlayerInd = activePlayer - 1;
        gameData.nextCell = playersData[activePlayer - 1].currentCoord + stepCount;

        const currentPlayer = draggablePlayers[gameData.activePlayerInd];
        currentPlayer.draggable = true;

        currentPlayer.addEventListener('dragstart', (event) => {
            event.dataTransfer.setData('text/plain', event.target.id);
        });

        droppableArea[gameData.nextCell - 1].setAttribute("ondragover", "dragoverHandler(event);");
        droppableArea[gameData.nextCell - 1].setAttribute("ondrop", "dropHandler(event);");
    });


    function dragoverHandler(ev) {
        ev.preventDefault();
    }

    function dropHandler(ev) {
        ev.preventDefault();
        const data = ev.dataTransfer.getData('text/plain');
        const draggableElement = document.getElementById(data);
        ev.target.appendChild(draggableElement);

        playersData[gameData.activePlayerInd].currentCoord = gameData.nextCell;

        // if (Number(currentCellId) === nextCell){
        droppableArea[gameData.nextCell - 1].removeAttribute("ondrop");
        droppableArea[gameData.nextCell - 1].removeAttribute("ondragover");
        draggablePlayers[gameData.activePlayerInd].draggable = false;
        dropBtn.disabled = false
        // }
    }

</script>
</html>